html{
    margin: 0;
    padding: 0;
}
/* *{
    border: solid blue 3px;
} */


header{
    border: solid 5px black;
    background-image: url(./img/Calendario\ Azteca\ con\ colores\ más\ oscuros\ y\ detalles\ intricados.png);
    background-position-x: center;
    background-repeat: no-repeat;
    height: 300px;
    background-size: cover;
    box-shadow: 0px 10px 0px black;
}

.tituloE{
    font-size: 5em;
    color: aliceblue;
    /*-+ |_  0>n++  color*/
    text-shadow: 0px 10px 0px black;
    text-align: center;
    font-family: "Anton SC", sans-serif;
    font-style: normal; 
    display: flex;
    align-items: center;
    justify-content: space-around;
}

article, p, .letter, body, .tituloA, .header-supreme{
    margin: 0px;
    padding: 0px;
}

.tituloA{
    font-size: 5em;
    color: rgb(255, 255, 255);
    /*-+ |_  0>n++  color*/
    text-shadow: 0px 20px 0px rgba(0, 0, 0, 0.356);
    text-align: center;
    font-family: "Anton SC", sans-serif;
    font-style: normal; 
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.descripcion{
    margin-top:     0px;
    margin-bottom: 27%;
    text-align: center;
    font-family: "Anton SC", sans-serif;
    font-size: 3em;
    justify-content: center;
    color: aliceblue;
    text-shadow: 0px 5px 0px rgba(0, 0, 0, 0.554);
}
.descripcion2{
    margin: 0px;
    text-align: center;
    font-family: "Anton SC", sans-serif;
    font-size: 2em;
    justify-content: center;
    color: aliceblue;
    text-shadow: 0px 5px 0px rgba(0, 0, 0, 0.554);
}

.header-supreme{  
    background-image: linear-gradient(rgba(82, 61, 50, 0.502),rgba(82,61,50, 0.502)),
    url(./img/Piramide.jpg);
}

article{
     background-image: linear-gradient(rgba(82, 61, 50, 0.8),rgba(82,61,50, 0.8)), 
    url(./img/Ciudad.jpg);
    height: 99vh;
}
.the.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.primera.Seccion, .segunda.Seccion, .tercera.Seccion{
    text-align: center;
}

.primera.Seccion, .tercera.Seccion{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 99%;
}

.pegatina.TiendaFisica{
    margin-right: 90px;
}

.sticker{
    width: 40%;
    image-rendering: optimizeQuality;
}
.pegatina{
    width: 20%;
    image-rendering:pixelated
}

.tarjet{
    user-select: none;
    transition: 0.3s;
}
/* efecto zoom */
.tarjet:hover{
    transform: scale(1.1);
    transition: 0.3s;
}



.the.menu{
    text-align: center;
    font-family: "Anton SC", sans-serif;
    font-size: 1em;
    justify-content: center;
    color:#d4c3a9e5;
    text-shadow: 0px 5px 0px rgba(0, 0, 0, 0.554);
}